* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

#game-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  height: 100vh;
  width: 100VW;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

.card {
  width: 40px;
  height: 40px;
  background-color: #3498db;
  color: #fff;
  font-size: 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

.card:hover {
  box-shadow: 2px 2px 10px blue;
  transform: scale(1.05);
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.card .front {
  background-color: #3498db;
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}

button {
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: green;
  box-shadow: 5px 5px 10px grey;
}

#message {
  font-size: 1.2em;
  margin-top: 10px;
  color: #e74c3c;
}

@media (min-width:992px) {
  body {
    flex-direction: row;
  }

  #card-container {
    grid-template-columns: repeat(11, 1fr);
  }
  .card {
    width: 100px;
    height: 100px;
    font-size: 5em;
  }

}